.nexa {
    font-family: "Nexa Light";
}
.body { 
		padding-bottom: 70px; 
	}
	.a:link {
	    color: #FFFFFF;
	    text-decoration: none;
	}
	.a:visited {
	    color: #FFFFFF;
	    text-decoration: none;
	}

	.a:hover {
	    color: #FFFFFF;
	    text-decoration: none;
	}
	.a:active {
	    color: #FFFFFF;
	    text-decoration: none;
	}
	
	.navbar-footer{
		background-color:rgba(0,0,0,0.3); 
		color:#FFF; 
		white-space:nowrap;
	}
	.reg-button{
		color: #fff;
		background-color: #53b5b4;
		border-color: #53b5b4;
	}
	.drp-active{
		background-color:#53b5b4;
	}