/*
||| CSS FOR THE WAC WEBSITE |||
Few basic things:
Default font is Nexa, with a lot of font families following it.
Links don't have an underline or change their colour.
Linking to a div tag links you to the place 100 px above where it actually is, to account for the navbar.
The navbar starts off expanded, and un-expands on scroll.
*/

/* | Font Imports. | */

/* | NEXA FONT |
Nexa
Nexa Italic
Nexa Bold
Nexa Bold Italic
 */
@font-face {
	font-family: 'Nexa';
	src: url('webfonts/3018A5_C_0.eot');
	src: url('webfonts/3018A5_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_C_0.woff2') format('woff2'),url('webfonts/3018A5_C_0.woff') format('woff'),url('webfonts/3018A5_C_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa';
	src: url('webfonts/3018A5_B_0.eot');
	src: url('webfonts/3018A5_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_B_0.woff2') format('woff2'),url('webfonts/3018A5_B_0.woff') format('woff'),url('webfonts/3018A5_B_0.ttf') format('truetype');
	font-style:italic;
}
@font-face {
	font-family: 'Nexa';
	src: url('webfonts/3018A5_4_0.eot');
	src: url('webfonts/3018A5_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_4_0.woff2') format('woff2'),url('webfonts/3018A5_4_0.woff') format('woff'),url('webfonts/3018A5_4_0.ttf') format('truetype');
	font-weight:bold;
}
@font-face {
	font-family: 'Nexa';
	src: url('webfonts/3018A5_3_0.eot');
	src: url('webfonts/3018A5_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_3_0.woff2') format('woff2'),url('webfonts/3018A5_3_0.woff') format('woff'),url('webfonts/3018A5_3_0.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}

/* | NEXA LIGHT |
Nexa Light
Nexa Light Italic
*/
@font-face {
	font-family: 'Nexa Light';
	src: url('webfonts/3018A5_A_0.eot');
	src: url('webfonts/3018A5_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_A_0.woff2') format('woff2'),url('webfonts/3018A5_A_0.woff') format('woff'),url('webfonts/3018A5_A_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa Light';
	src: url('webfonts/3018A5_9_0.eot');
	src: url('webfonts/3018A5_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_9_0.woff2') format('woff2'),url('webfonts/3018A5_9_0.woff') format('woff'),url('webfonts/3018A5_9_0.ttf') format('truetype');
	font-style:italic;
}

/* | NEXA THIN | */
@font-face {
	font-family: 'Nexa Thin';
	src: url('webfonts/3018A5_0_0.eot');
	src: url('webfonts/3018A5_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_0_0.woff2') format('woff2'),url('webfonts/3018A5_0_0.woff') format('woff'),url('webfonts/3018A5_0_0.ttf') format('truetype');
}

/* | NEXA BLACK |
Nexa Black
Nexa Black Italic
*/
@font-face {
	font-family: 'Nexa Black';
	src: url('webfonts/3018A5_2_0.eot');
	src: url('webfonts/3018A5_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_2_0.woff2') format('woff2'),url('webfonts/3018A5_2_0.woff') format('woff'),url('webfonts/3018A5_2_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa Black';
	src: url('webfonts/3018A5_1_0.eot');
	src: url('webfonts/3018A5_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_1_0.woff2') format('woff2'),url('webfonts/3018A5_1_0.woff') format('woff'),url('webfonts/3018A5_1_0.ttf') format('truetype');
	font-style:italic;
}

/* | NEXA BOOK |
Nexa Book
Nexa Book Italic
*/
@font-face {
	font-family: 'Nexa Book';
	src: url('webfonts/3018A5_6_0.eot');
	src: url('webfonts/3018A5_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_6_0.woff2') format('woff2'),url('webfonts/3018A5_6_0.woff') format('woff'),url('webfonts/3018A5_6_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa Book';
	font-style:italic;
	src: url('webfonts/3018A5_5_0.eot');
	src: url('webfonts/3018A5_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_5_0.woff2') format('woff2'),url('webfonts/3018A5_5_0.woff') format('woff'),url('webfonts/3018A5_5_0.ttf') format('truetype');
}


/* | NEXA HEAVY |
Nexa Heavy
Nexa Heavy Italic
*/
@font-face {
	font-family: 'Nexa Heavy';
	src: url('webfonts/3018A5_8_0.eot');
	src: url('webfonts/3018A5_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_8_0.woff2') format('woff2'),url('webfonts/3018A5_8_0.woff') format('woff'),url('webfonts/3018A5_8_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa Heavy';
	src: url('webfonts/3018A5_7_0.eot');
	src: url('webfonts/3018A5_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_7_0.woff2') format('woff2'),url('webfonts/3018A5_7_0.woff') format('woff'),url('webfonts/3018A5_7_0.ttf') format('truetype');
	font-style:italic;
}

/* | NEXA EXTRA BOLD |
NexaXBold
NexaXBoldItalic
*/
@font-face {
	font-family: 'Nexa XBold';
	src: url('webfonts/3018A5_F_0.eot');
	src: url('webfonts/3018A5_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_F_0.woff2') format('woff2'),url('webfonts/3018A5_F_0.woff') format('woff'),url('webfonts/3018A5_F_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Nexa XBold';
	src: url('webfonts/3018A5_E_0.eot');
	src: url('webfonts/3018A5_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_E_0.woff2') format('woff2'),url('webfonts/3018A5_E_0.woff') format('woff'),url('webfonts/3018A5_E_0.ttf') format('truetype');
	font-style:italic;
}


/* |FREE LICENSED FONTS|

	This was when we were poor. We don't use these any more, but in a pinch we can pull them back up. The EULA is MIT OPEN 2.0

@font-face{
	font-family:Nexa;
	src:url(nexa/nexa_light.otf);
}
@font-face{
	font-family:Nexa;
	font-weight:bold;
	src:url(nexa/nexa_bold.otf);
}
*/

/* | Removes sideways scrollbar, and always has a full background. | */
html{
	position: relative;
  min-width: 100%;
  min-height: 100%;
	overflow-x: hidden;
}

/* | Sets default font to Nexa, pads content so the navbar doesn't overlap, and sets a default background and text colour. | */
body{
	min-width: 100%;
  min-height: 100%;
	font-family:Nexa;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #2a262a;
	color:white;
}

/* | Sets default fonts for headers. | */
h1, h2, h3 {
	font-family:Nexa Heavy;
}

h4, h5, h6 {
	font-family:Nexa;
}

/* | Special css we use for footer stuff. | */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
	text-align:center;
  line-height: 60px;
	background-color:white;
  color: #2a262a;
}

.card{
	color: #2a262a;
}

/* | Found from Stack Overflow, this snippet makes linked-to div tags link to a target 100px above it's actual position, to account for the navbar. | */
:target:before {
	content:"";
	display:block;
	height:100px;
	margin:-100px 0 0;
}
