/*
||| CSS FOR THE WAC WEBSITE |||
Few basic things:
Default font is Nexa, with a lot of font families following it.
Links don't have an underline or change their colour.
Linking to a div tag links you to the place 100 px above where it actually is, to account for the navbar.
The navbar starts off expanded, and un-expands on scroll.
*/

/* | Font Imports. | */

/* | NEXA FONT |
Nexa
Nexa Italic
Nexa Bold
Nexa Bold Italic
 */
@font-face {font-family: 'Nexa';src: url('webfonts/3018A5_C_0.eot');src: url('webfonts/3018A5_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_C_0.woff2') format('woff2'),url('webfonts/3018A5_C_0.woff') format('woff'),url('webfonts/3018A5_C_0.ttf') format('truetype');}
@font-face {font-family: 'Nexa';font-style:italic;src: url('webfonts/3018A5_B_0.eot');src: url('webfonts/3018A5_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_B_0.woff2') format('woff2'),url('webfonts/3018A5_B_0.woff') format('woff'),url('webfonts/3018A5_B_0.ttf') format('truetype');}
@font-face {font-family: 'Nexa';font-weight:bold;src: url('webfonts/3018A5_4_0.eot');src: url('webfonts/3018A5_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_4_0.woff2') format('woff2'),url('webfonts/3018A5_4_0.woff') format('woff'),url('webfonts/3018A5_4_0.ttf') format('truetype');}
@font-face {font-family: 'Nexa';font-weight:bold;font-style:italic;src: url('webfonts/3018A5_3_0.eot');src: url('webfonts/3018A5_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_3_0.woff2') format('woff2'),url('webfonts/3018A5_3_0.woff') format('woff'),url('webfonts/3018A5_3_0.ttf') format('truetype');}

/* | NEXA LIGHT |
Nexa Light
Nexa Light Italic
*/
@font-face {font-family: 'NexaLight';src: url('webfonts/3018A5_A_0.eot');src: url('webfonts/3018A5_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_A_0.woff2') format('woff2'),url('webfonts/3018A5_A_0.woff') format('woff'),url('webfonts/3018A5_A_0.ttf') format('truetype');}
@font-face {font-family: 'NexaLight';font-style:italic;src: url('webfonts/3018A5_9_0.eot');src: url('webfonts/3018A5_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_9_0.woff2') format('woff2'),url('webfonts/3018A5_9_0.woff') format('woff'),url('webfonts/3018A5_9_0.ttf') format('truetype');}

/* | NEXA THIN | */
@font-face {font-family: 'NexaThin';src: url('webfonts/3018A5_0_0.eot');src: url('webfonts/3018A5_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_0_0.woff2') format('woff2'),url('webfonts/3018A5_0_0.woff') format('woff'),url('webfonts/3018A5_0_0.ttf') format('truetype');}

/* | NEXA BLACK |
Nexa Black
Nexa Black Italic
*/
@font-face {font-family: 'NexaBlack';src: url('webfonts/3018A5_2_0.eot');src: url('webfonts/3018A5_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_2_0.woff2') format('woff2'),url('webfonts/3018A5_2_0.woff') format('woff'),url('webfonts/3018A5_2_0.ttf') format('truetype');}
@font-face {font-family: 'NexaBlack';font-style:italic;src: url('webfonts/3018A5_1_0.eot');src: url('webfonts/3018A5_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_1_0.woff2') format('woff2'),url('webfonts/3018A5_1_0.woff') format('woff'),url('webfonts/3018A5_1_0.ttf') format('truetype');}

/* | NEXA BOOK |
Nexa Book
Nexa Book Italic
*/
@font-face {font-family: 'NexaBook';src: url('webfonts/3018A5_6_0.eot');src: url('webfonts/3018A5_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_6_0.woff2') format('woff2'),url('webfonts/3018A5_6_0.woff') format('woff'),url('webfonts/3018A5_6_0.ttf') format('truetype');}
@font-face {font-family: 'NexaBook';font-style:italic;src: url('webfonts/3018A5_5_0.eot');src: url('webfonts/3018A5_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_5_0.woff2') format('woff2'),url('webfonts/3018A5_5_0.woff') format('woff'),url('webfonts/3018A5_5_0.ttf') format('truetype');}


/* | NEXA HEAVY |
Nexa Heavy
Nexa Heavy Italic
*/
@font-face {font-family: 'NexaHeavy';src: url('webfonts/3018A5_8_0.eot');src: url('webfonts/3018A5_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_8_0.woff2') format('woff2'),url('webfonts/3018A5_8_0.woff') format('woff'),url('webfonts/3018A5_8_0.ttf') format('truetype');}
@font-face {font-family: 'NexaHeavy';font-style:italic;src: url('webfonts/3018A5_7_0.eot');src: url('webfonts/3018A5_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_7_0.woff2') format('woff2'),url('webfonts/3018A5_7_0.woff') format('woff'),url('webfonts/3018A5_7_0.ttf') format('truetype');}

/* | NEXA EXTRA BOLD |
NexaXBold
NexaXBoldItalic
*/
@font-face {font-family: 'NexaXBold';src: url('webfonts/3018A5_F_0.eot');src: url('webfonts/3018A5_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_F_0.woff2') format('woff2'),url('webfonts/3018A5_F_0.woff') format('woff'),url('webfonts/3018A5_F_0.ttf') format('truetype');}
@font-face {font-family: 'NexaXBold';font-style:italic;src: url('webfonts/3018A5_E_0.eot');src: url('webfonts/3018A5_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3018A5_E_0.woff2') format('woff2'),url('webfonts/3018A5_E_0.woff') format('woff'),url('webfonts/3018A5_E_0.ttf') format('truetype');}


/* |FREE LICENSED FONTS|

	This was when we were poor. The EULA is MIT OPEN 2.0

@font-face{
	font-family:Nexa;
	src:url(nexa/nexa_light.otf);
}
@font-face{
	font-family:Nexa;
	font-weight:bold;
	src:url(nexa/nexa_bold.otf);
}
*/

/* | Removes sideways scrollbar, and always has a full background. | */
html{
	min-height:100%;
	overflow-x: hidden;
}

/* | Links don't have special colouring, but are instead (this is often overrided in special cases). | */
a{
	font-weight: bold;
	color:inherit;
}

/* | Sets default font to Nexa, pads content so the navbar doesn't overlap, and sets a default background and text colour. | */
body{
	font-family:Nexa;
	padding-top:100px;
	background-color:#2a262a;
	color:#FFFFFF;
}

/* | Sets default fonts for headers. | */
h1{
	font-family:NexaHeavy;
}

h2, h3{
	font-family:Nexa;
	font-weight: bold;
}
h4, h5, h6 {
	font-family:Nexa;
}

/* | Special typeset we use for footer text. | */

.footer-text{
	font-family:NexaThin;
	font-size:8px;
}

/* | This is used to make the lines in the footer. | */
.vertical-line {
    border-left: solid #2a262a;
}

/* | Found from Stack Overflow, this snippet makes linked-to div tags link to a target 100px above it's actual position, to account for the navbar. | */
:target:before {
	content:"";
	display:block;
	height:100px;
	margin:-100px 0 0;
}

/* | Found from Stack Overflow, this snippet of code (in combination with javascript) makes the navbar collapse on scroll, from a default expanded state | In order for this to work, you need to follow the template in navbar.php, including a bunch of classes. Also, collapse-nav.js , jquery, and jquery-easing need to be implemented. | */
@media(min-width:767px) {
	.navbar-fixed-top {
		padding: 10px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.top-nav-collapse {
		padding: 0;
	}
}

/* | Small fix for firefox tables, from Bootstrap. | */
@-moz-document url-prefix() {
	fieldset {
		display: table-cell;
	}
}
