---
layout: default
title: How to Register
permalink: /howtoregister/
---

<div class="container">
	<div class="card card-block">
		<h1>How to Register</h1><br>
			<ol class="how-to-reg-list">
				{% for item in site.data.register.how-to %}			
					<li>
						<h3>{{item[1].header}}</h3>
						<p>{{ item[1].text }}</p>
					</li> 
					{% if item[1].image %} 
						<br>
						<img class="how-to-reg-img" src="{{site.baseurl}}/img/how-to-register/{{item[1].image}}" alt="{{item[1].image}}">
						<br> 
					{% endif %}
					<br>
				{% endfor %}			
			</ol>	
		</div>
</div>