---
layout : default
title : "Panels"
permalink : /panels/
---
<div class="container">
	<div class="card card-block">
		<h1 class="text-xs-center">Opening Panel: {{ site.data.panel.opening.title}}</h1>
		<p>{{ site.data.panel.opening.blurb}}</p>
		{% for item in site.data.panel.opening.speakers %}
			<div class="row pb-2">
				<div class="col-md-4">
					<img class="img-fluid rounded-circle" src="{{site.baseurl}}/img/speakers/{{item[1].pic}}" alt="{{item[1].name}}">
				</div>
				<div class="col-md-8">
					<h4>{{ item[1].name }}</h4>
					<p>{{ item[1].bio }}</p>
				</div>
			</div>
		{% endfor %}
		<h1 class="text-xs-center">Closing Panel: {{ site.data.panel.closing.title}}</h1>
		{% for item in site.data.panel.closing.speakers %}
			<img class="img-fluid rounded-circle mx-auto d-block" src="{{site.baseurl}}/img/speakers/{{item[1].pic}}" alt="{{item[1].name}}">
			<h2 class="text-xs-center">{{ item[1].name }}</h2>
			<p>{{ item[1].bio }}</p>
		{% endfor %}
	</div>
</div>
