---
layout : default
title : "Panels"
permalink : /panel/
---
<div class="container">
	<div class="card card-block">
		<h1>Opening Panel</h1>
		<br><div class="container"><center><img class="panel-img img-curved" src="{{site.baseurl}}/img/plenaries/drone.jpg" alt="{{item[1].name}}"></center></div><br>
		<h2>{{ site.data.panel.opening.title}}</h2>
		<p>{{ site.data.panel.opening.blurb}}</p>

			
			{% for item in site.data.panel.opening.speakers %}
		
				<div class="row">
					<div class="container">
						<div class="col-md-8">
							<h4>{{ item[1].name }}</h4>
							<p>{{ item[1].blurb }}</p>
						</div>
						<div class="col-md-4">
							<img class="panel-img" src="{{site.baseurl}}{{item[1].href}}" alt="{{item[1].name}}">
						</div>	
					</div>
				</div>
			
			{% endfor %}
		
		<h1 class="panel-closing-padding-top">Closing Panel</h1>
		<h2>{{ site.data.panel.closing.title}}</h2>
		<p>{{ site.data.panel.closing.paragraph}}</p>
			
			{% for item in site.data.panel.closing.speakers %}
		
				<div class="row">
					<div class="container">
						<div class="col-md-8">
							<h4>{{ item[1].name }}</h4>
							<p>{{ item[1].blurb }}</p>
						</div>
						<div class="col-md-4">
							<img class="panel-img" src="{{site.baseurl}}{{item[1].href}}" alt="{{item[1].name}}">
						</div>	
					</div>
				</div>
			
			{% endfor %}
										
	</div>
</div>