---
layout: default
title: WAC Staff
permalink: /staff/
---
<div class="container">
    {% for item in site.data.staff %}
    {% cycle 'group1': '<div class="card-deck-wrapper">
      <div class="card-deck">', '', '', '' %}
        <div class="card card-outline-primary text-xs-center" style="background-color:white;">
          <div class="card-block">
            <img class="img-fluid img-circle" src="{{site.baseurl}}/img/staff/{{item[1].image}}" style="margin-left:auto;margin-right:auto;" />
            <h4 class="card-title">{{ item[1].name }}</h4>
            <h5>{{item[1].primary}}</h5>
            {% if item[1].secondary%}<h6>and {{item[1].secondary}}</h6>{% endif %}
            <p>{{item[1].bio}}</p>
          </div>
        </div>
        {% cycle 'group2': '', '', '', '</div></div>' %}
    {% endfor %}
</div>
