<nav class="navbar navbar-light navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand hidden-sm-down" href="{{ site.blogurl }}/">WAC Blog</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.blogurl }}/about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.blogurl }}/authors.html">Authors</a>
      </li>
      <li class="nav-item pull-xs-right">
        <a class="btn btn-primary-outline" href="{{ site.baseurl }}/">Home</a>
      </li>
    </ul>
  </div>
</nav>
