<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	{% assign speaker1 = site.data.speaker[page.speaker1] %}
	{% assign speaker2 = site.data.speaker[page.speaker2] %}

	<body>

		{% include navbar.html %}

		<div class="container">
			<center>
				<h1>{{ page.title }}</h1>
				<div class="card">
					<img class="card-img-top img-fluid" src="{{ site.baseurl}}/img/plenaries/{{ page.pic }}" alt="Plenary picture" >
					<div class="card-block">
						<h3 class="card-title">{{ page.title }}</h3>
						<p class="card-text">
							{{ content }}
						</p>
					</div>
				</div>
			</center>
			<div class="card-deck-wrapper">
  			<div class="card-deck">
					<div class="card">
						<div class="card-block">
							<div style="text-align:center;">
								<img class="img-thumbnail" src="{{site.baseurl}}/img/speakers/{{ speaker1.pic }}" alt="Plenary Speaker 1">
								</br>
								</br>
								<h3 class="card-title">{{ speaker1.name }}</h3>
							</div>
							<p class="card-text">
								{{ speaker1.bio }}
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<div style="text-align:center;">
								<img class="img-thumbnail" src="{{site.baseurl}}/img/speakers/{{ speaker2.pic }}" alt="Plenary Speaker 2">
								</br>
								</br>
								<h3 class="card-title">{{ speaker2.name }}</h3>
							</div>
							<p class="card-text">
								{{ speaker2.bio }}
							</p>
						</div>
					</div>
				</div>
			</div>
			</br>
			<div class="card card-block" style="text-align:center;">
				<p class="card-text"><a class="card-link" href="{{site.baseurl}}/plenaries"><span class="fa fa-arrow-left"></span> View the other plenaries.</a></p>
			</div>
		</div>
		</br>
		{% include footer.html %}
	</body>
</html>
